<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Camera View</h1>
    <br>

    <img id="img" onclick="cords();" src="{{url_for('video_feed',ipAdd=ipAdd,port=port)}}">
    <script type="text/javascript">
      var coords = []
      var img = document.getElementById('img');
      img.addEventListener('click',(event)=>{
        coords.push(event.clientX)
        coords.push(event.clientY)
        console.log('coords: ',coords);
        if(coords.length == 4) {
          alert(coords)
          $.ajax({
            url: "{{url_for('sendFrame')}}",
            type: 'GET',
            contentType:'application/json;charset=UTF-8',
            data: {
              x1:coords[0],
              y1:coords[1],
              x2:coords[2],
              y2:coords[3],
              ip: '{{ipAdd}}',
              region:'{{region}}'
            },
            success: function() {
              window.location = window.location.toString().split('/')[0];
              coords = []
            }
          });
        }
      })
    </script>
</body>
</html>
