{% extends "layout.html"%}   
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    {{form.ip.label(class="form-control-label")}}
                    {% if form.ip.errors %}
                        {{form.ip(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback" >
                            {%for error in form.ip.errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {%else%}
                         {{form.ip(class="form-control form-control-lg")}}
                        {% endif %}
                    
                </div>

                <div class="form-group">
                    {{form.port.label(class="form-control-label")}}
                    {% if form.port.errors %}
                        {{form.port(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.port.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                      {{form.port(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{form.region.label(class="form-control-label")}}
                    {% if form.region.errors %}
                        {{form.region(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.region.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                      {{form.region(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                
                
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>

    </div>

    
{% endblock content %}